body {
  font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  nav .algos {

    display: grid;
    
    grid-template-columns: repeat(6, 16.6%);
    place-content: center;
    background-color: #4CAF50;
    padding: 0.5% 0.5%;
  }
  
  nav .algos button {
    
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    color: white;
    outline: none;
    padding: 10px 25px;
    font-size: x-large;
  }
  
  nav .algos button:hover {
    background-color: white;
    color: #4CAF50;
    cursor: pointer;
  }

  .header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    

  }

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .back {
    display: grid;
    grid-template-columns: 5% 95%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #cal {
    font-weight: bold;

  }

  a {
    color:#4CAF50;

  }